# Zitadel OIDC
PUBLIC_ZITADEL_AUTHORITY=https://your-zitadel-instance.example.com
PUBLIC_ZITADEL_CLIENT_ID=your-client-id
PUBLIC_APP_URL=https://your-app-url.example.com

# API
PUBLIC_API_URL=https://your-api-url.example.com
